# Datasets & Heavy Data Files
articles.csv
images_256_256/
dataset/

# Trained Model Weights & Binaries
*.pth
*.pt
*.onnx
*.h5


# Python & Environment Caches
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# OS & IDE System Files
.DS_Store
Thumbs.db
.vscode/
.idea/